# ignore Python venv and test data
**/.venv
HostScript_Server/data/all/
HostScript_Server/data/data_scene_flow/
HostScript_Server/data/data_scene_flow/
HostScript_Server/data/devkit_scene_flow/

# ignore Vivado files without tcl
ZedBoard/Vivado/
!ZedBoard/Vivado/*.tcl

# ignore unnecessary Vitis files
# Ignore build output directory
/build
/export
# Ignore object files and dependent files
.o
.d
#Ignore logs folder and log files
/logs
.log
#Ignore lock files
.lock
.bin
.pdi
.vitisWorkspace.json
_ide/logs
_ide/.wsdata