# ignore Python venv and test data
**/.venv
HostScript_Server/data/all/
HostScript_Server/data/data_scene_flow/
HostScript_Server/data/data_scene_flow/
HostScript_Server/data/devkit_scene_flow/
HostScript_Server/data/data_scene_flow_calib/

# ignore Vivado files without tcl
ZedBoard/Vivado/
!ZedBoard/Vivado/*.tcl

# ignore unnecessary Vitis files
.rigel_lopper/
.rigel_lopper_temp_platform/
_ide/
lwip_tcp_perf_client/_ide/
lwip_tcp_perf_client/build/
ZedBoard/Vitis/platform/Debug/
ZedBoard/Vitis/platform/Release/
ZedBoard/Vitis/platform/logs/
ZedBoard/Vitis/platform/export/
ZedBoard/Vitis/platform/hw/
ZedBoard/Vitis/platform/zynq_fsbl/build/
ZedBoard/Vitis/platform/zynq_fsbl/linker_files/
ZedBoard/Vitis/platform/zynq_fsbl/zynq_fsbl_bsp/libsrc/**
ZedBoard/Vitis/platform/ps7_cortexa9_0/standalone_ps7_cortexa9_0/bsp/libsrc/**
ZedBoard/Vitis/platform/ps7_cortexa9_0/standalone_ps7_cortexa9_0/bsp/include/**
ZedBoard/Vitis/platform/ps7_cortexa9_0/standalone_ps7_cortexa9_0/bsp/lib/**
ZedBoard/Vitis/platform/ps7_cortexa9_0/standalone_ps7_cortexa9_0/bsp/hw_artifacts/**
*.log
*.jou
*.str
*.o
*.elf
*.bin
*.d
*.obj
**/.cache/*

# ignore vscode settings
SemiGlobalMatching/.vscode/